/* MODIFIERS */

.no-padding{padding:0;}
.no-margin{margin:0;}

.covert-link{text-decoration:none;color:inherit;}

/* GLOBAL */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eee;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

.root{
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

.gl-page{
  width:123px;
  background-color: #eee;
}

#gl-app-bar{
  height:60px;
  border-bottom: 1px solid #e6e6e6;
  position: fixed;
}

#gl-app-bar-daemon{
  height:60px;
  background-color:aqua;
}

#gl-main-menu{
  width:240px;
  height:100vh;
  flex-grow:1;
  margin-top:60px;
  position: fixed;
  box-sizing: border-box;
  background-color: #f5f5f5;
  border-right:1px solid #e3e3e3;
}

#gl-main-menu-daemon{
  width:230px;
  background-color: red;
}

#gl-main-logo{
  font-size: 2rem;
  padding-bottom:5px;
  font-family: 'Crete Round', serif;
}

#gl-main-logo-icon{
  color:#EA2027;
  font-size: 1.5rem;
  position: relative;
  bottom: 0.1rem;
  margin-right:0.5rem;
}

#gl-main-logo-start{
  color:#EA2027;
}

#gl-main-logo-end{
  color:#1289A7;
}

.gl-frame{
  margin: 2rem;
  padding: 1rem
}